name: First Pipeline

on:
  workflow_dispatch:
    inputs:
      name:
        type: choice
        description: Choose your image
        options: 
        - hello-world
        - nginx

jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: First step
        run: docker pull ${{ github.event.inputs.name }}