name: First Pipeline

on:
  push:
    branches:
      - main

jobs:
  first_job:
    runs-on: ubuntu-latest
    steps:
      - name: First step
        run: docker pull hello-world:nanoserver-ltsc2025